@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,600;6..12,800&display=swap');
@import './variables.css';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  color: var(--color-text);
  background: var(--color-background-secondary);
  transition:
    color 0.5s,
    background-color 0.5s;

  line-height: 1.2;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-rendering: optimizeLegibility;

  /* 僅在 Mac OS X / macOS 有效，避免文字鋸齒化 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color-text);
  text-decoration: none;
  transition: 0.3s;
}

@media (hover: hover) {
  a:hover {
    color: var(--color-text-secondary);
  }
}

button {
  cursor: pointer;
}

img {
  vertical-align: top;
}

.btn {
  border: none;
  background: var(--color-background-primary);
  color: var(--color-text);
  font-size: 12px;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding-inline: 4.266666%;
}

@media screen and (min-width: 768px) {
  .container {
    padding-inline: 5.555555%;
  }
}

.logo {
  color: var(--color-text);
  line-height: 1.428571;
  font-size: clamp(14px, 3.733333vw,24px);
  font-weight: 800;
}

@media screen and (min-width: 1200px) {
  .logo {
    line-height: 1.2;
  }
}

.pic-frame {
  display: block;
  overflow: hidden;
}

.pic-frame > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

[class*="sr-only"] {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .sr-only-mobile {
    width: initial;
    height: initial;
    position: initial;
    overflow: initial;
  }
}